<!-- <div class="container">
    <div class="form-container">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <h1>Register</h1>
        <label>Email ID:</label>
        <input type="text" formControlName="emailId"><br>
          <label>Password:</label>
        <input type="password" formControlName="password"><br>
               <label>Merchant Name:</label>
        <input type="text" formControlName="merchantName"><br>
  
        <label>Location:</label>
        <input type="text" formControlName="location"><br>
  
        <label>Phone Number:</label>
        <input type="text" formControlName="phoneNumber"><br>
  
        <button type="submit">Submit</button>
        <b style="margin-top: 30px;color: rgb(16, 19, 22);">Already a member?<a routerLink="/merchantLogin"
          style="margin-left: 10px;color: rgb(28, 29, 29);">Login</a></b>
      </form>
    </div>
  </div> -->

  <!-- <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-card class="example-card" style="margin-bottom: 50px; margin-top: 10px;">
      <h1    style="color: rgb(216, 157, 85);"  >Register</h1>
   

      <mat-form-field>
        <mat-label>User Name</mat-label>
        <input matInput  type="text" formControlName="merchantName">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email ID</mat-label>
        <input matInput type="text" formControlName="emailId" >
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
  

  
      <mat-form-field>
        <mat-label>Location</mat-label>
        <input matInput type="text" formControlName="location">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput type="text" formControlName="phoneNumber">
      </mat-form-field>
  
      <button mat-raised-button    style="background-color: rgb(216, 157, 85);"  >Sign Up </button>
      <b style="margin-top: 30px;color: rgb(16, 19, 22);">Already a member?<a routerLink="/UserLogin"
        style="margin-left: 10px;color: rgb(28, 29, 29);">Login</a></b>
    </mat-card>
  </form> -->


  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-card class="example-card" style="margin-bottom: 50px; margin-top: 10px;">
      <h1    style="color: rgb(216, 157, 85);"  >Register</h1>


      <mat-form-field>
        <mat-label>User name</mat-label>
        <input matInput  type="text" formControlName="userName">
        <mat-error *ngIf="userName?.errors?.['required']">User name is required </mat-error>
      </mat-form-field>
     
   

      <mat-form-field>
        <mat-label>Email Id</mat-label>
        <input matInput  type="text" formControlName="emailId">
        <mat-error *ngIf="emailId?.errors?.['required']">Email id is required </mat-error>
      </mat-form-field>

     
    
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="password?.errors?.['required']">Password is required </mat-error>
      </mat-form-field>
  

  
      <mat-form-field>
        <mat-label>Location</mat-label>
        <input matInput type="text" formControlName="location">
        <mat-error *ngIf="location?.errors?.['required']">Location is required </mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput type="text" formControlName="phoneNumber">
        <mat-error *ngIf="phoneNumber?.errors?.['required']">Restaurant id is required </mat-error>
      </mat-form-field>
  
      <button mat-raised-button [disabled]="userForm.invalid"   style="background-color: rgb(216, 157, 85);"  >Sign Up </button>
      <b style="margin-top: 30px;color: rgb(16, 19, 22);">Already a member?<a routerLink="/Login"
        style="margin-left: 10px;color: rgb(28, 29, 29);">Login</a></b>
    </mat-card>
  </form>