<img src="../../assets/{{displayRestaurant.restId}}.jpeg" width="100%" height="85%">
<h1 style="font-size: 60px; margin-top: 20px; text-align: center; color: chocolate;">{{displayRestaurant.name |titlecase}}</h1>
<a mat-list-item   *ngIf="ass.isAdmin==false || ass.isUser==true"   (click)="addtofav()"><mat-icon class="icon-list">favorite</mat-icon></a>

<mat-form-field style="margin-left: 30%; width:40% ; margin-top: 20px;">
  <mat-label>Search for Dishes here</mat-label>
  <input matInput  [(ngModel)]="searchString" (mouseenter)="filter()" >
  <mat-icon matSuffix (click)="filter()" >search</mat-icon>
</mat-form-field>

<mat-grid-list cols="4" rowHeight="300px">
    <mat-grid-tile *ngFor="let restaurant of displayRestaurant.dishList" class="list">
      <mat-card class="dashboard-card"  style="margin-left: 40px; border-radius: 20px;"  (click)="navigateToDetails(displayRestaurant.restId, restaurant.dishID)">
        <mat-card-header>
          <mat-card-title style="margin-left: 70px;">
            {{restaurant.dishname|titlecase}}
         </mat-card-title>
        </mat-card-header>

      
        
        <mat-card-content class="dashboard-card-content">
          <mat-card-content class="dashboard-card-content">
            <img src="../../assets/dishes/{{restaurant.dishID}}.jpg" width="100%" height="100%">
          </mat-card-content>
          
        </mat-card-content>
  


  <div style="display: flex; align-items: center; ;">
        <button   *ngIf="ass.isAdmin && !ass.isUser"   (click)="delete(displayRestaurant.restId, restaurant.dishID)">
            <mat-icon style="color: blue; font-size: xx-large; " class="search-icon" aria-hidden="false"
                aria-label="Delete icon" fontIcon="delete">
            </mat-icon>
        </button>
        <div style="padding-left: 180px;">
            <a   *ngIf="ass.isAdmin && !ass.isUser"  [routerLink]="['/EditDish', displayRestaurant.restId, restaurant.dishID]">
                <mat-icon>edit</mat-icon>
            </a>
        </div>
    </div> 















    
    
      </mat-card>
    </mat-grid-tile>
</mat-grid-list>