<!-- <img src="../../assets/showing-cakes-food52.gif" width="100%" height="400px" alt="" > -->

<!-- <img src="../../assets/2024-03-04 (10).png" alt="" width="100%" height="80%" > -->
<div class="grid-container" >
    <div class="imge">
      <div style="display: flex; margin-left: 35%;">
      <!-- <h1 style="color: rgb(237, 16, 215);"><b>Restaurants</b></h1> -->
      </div>
      <!-- <mat-form-field style="margin-left: 30%; width:40% ; margin-top: 20px;">
        <mat-label>Search for Restaurants here</mat-label>
        <input matInput placeholder="Search Here" [(ngModel)]="searchString" (mouseenter)="filter()" >
        <mat-icon matSuffix (click)="filter()" >search</mat-icon>
    </mat-form-field> -->
  
    </div>
  
  
    <mat-grid-list cols="4" rowHeight="450px"  style="margin-bottom: 40px; margin-top: 50px;" >
  
      <mat-grid-tile *ngFor="let restaurant of displayRestaurantss" class="list hover-effect">
        <mat-card  style="margin-bottom: 40px; border-radius: 20px; margin-left: 40px ;margin-right: 40px; width: 100%;"  class="dashboard-card" >
          <mat-card-header>
            
             <h1>{{restaurant.name|titlecase}}</h1> 
  
          
  
          </mat-card-header>
          <img src="../../assets/{{restaurant.restId}}.jpeg" width="100%" height="85%">
          <mat-card-content class="dashboard-card-content">
  
          </mat-card-content>
          <!-- <img src="../../assets/{{cake.id}}.jpg" alt="" class="img">
  
          <img [src]="cake.imageurl" alt=""  class="img"> -->
  
  
  
          <h3 style="text-align: start; margin-left: 70px;">
            {{restaurant.location |titlecase}}
            
          </h3>
        
            <!-- <button (click)="deleteRestaurant(restaurant.restId)">
                <mat-icon style="color: blue; font-size: xx-large;" class="search-icon" aria-hidden="false"
                    aria-label="Example home icon" fontIcon="delete">
                </mat-icon>
            </button> -->
        <!-- <
          <a routerLink="" (click)="deleteRestaurant(restaurant.restId)"><mat-icon>delete</mat-icon></a> -->
       
          <!-- <a   routerLink="EditRestaurants/{{restaurant.restId}}"><mat-icon>edit</mat-icon></a> -->
          <!-- <a mat-list-item ><mat-icon class="icon-list">favorite</mat-icon></a> -->
        
            <!-- Rest of your card content -->
            <!-- <a mat-list-item  (click)="addFavoriteRestaurant(restaurant)" ><mat-icon class="icon-list">favorite</mat-icon></a> -->
          <div>
            <button (click)="delete(restaurant.restId)">
              <mat-icon style="color: blue; font-size: xx-large;" class="search-icon" aria-hidden="false"
                  aria-label="Example home icon" fontIcon="delete">
              </mat-icon>
          </button>
          </div>
        </mat-card>
      </mat-grid-tile>
      
  </mat-grid-list>